<section class="hero-section">
  <div class="container py-5">

    <div class="text-white mb-4">
      <h1 class="display-4 fw-bold">Book Sports</h1>
      <h1 class="display-4 fw-bold">
        <span class="highlight-text">Venues & Events</span>
      </h1>
    </div>