<section class="page-section">
  <div class="container py-7">
 <div class="page-header mb-4">
    <h1 class="text-white fw-bold mb-2">Login</h1>

    <div class="row g-5">
        <div class="col-lg-13">
            <div class="content-panel p-4 p-md-5">   
            <form name="login" id="user-login"  method="get">
                <div class="form-group">
                    <label for="emailAddressID">Email address</label>
                    <input type="email" class="form-control" id="emailAddressID" name="email" value="{{formDetails.emailAdressID}}" required>
                </div>
                <div >
                    <label for="passwordID">Password</label> 
                    <input type="password" class="form-control" id="passwordID" name="password" value="{{formDetails.passwordID}}" required>
                </div> 
                   
                <div class="col-12 d-grid">
                    <input type='submit' class="btn primary-button" value="Login">
                </div>
            </form>
            <p> <a href="signup">Need to Register?</a></p>
            </div>
        </div> 
    </div>      
</div>
</div>
</section>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>


