<main>
    <h1 class="pageTitle">Shop</h1>
    <container class="shop-container">
        <div class="item-card">
            <img src="/images/ball.png" alt="Manchester United Jersey 1" class="product-image">
            <h2 class="text-white">Football</h2>
            <p class="text-white">€19.99</p>
            <button class="btn btn-outline-light w-100 mt-2" id="addtocart">Add to Cart</button>
        </div>
        <div class="item-card">
            <img src="/images/bballshoes.png" alt="Manchester United Jersey 2" class="product-image">
            <h2 class="text-white">Basketball Shoes</h2>
            <p class="text-white">€70.00</p>
            <button class="btn btn-outline-light w-100 mt-2" id="addtocart">Add to Cart</button>
        </div>
        <div class="item-card">
            <img src="/images/boots.png" alt="Manchester United Jersey 3" class="product-image">
            <h2 class="text-white">Football Boots</h2>
            <p class="text-white">€80.00</p>
            <button class="btn btn-outline-light w-100 mt-2" id="addtocart">Add to Cart</button>
        </div>
        <div class="item-card">
            <img src="/images/cones.png" alt="Manchester United Jersey 3" class="product-image">
            <h2 class="text-white">Cones</h2>
            <p class="text-white">€10.00</p>
            <button class="btn btn-outline-light w-100 mt-2" id="addtocart">Add to Cart</button>
        </div>
        <div class="item-card">
            <img src="/images/gloves.png" alt="Manchester United Jersey 3" class="product-image">
            <h2 class="text-white">Gloves</h2>
            <p class="text-white">€14.00</p>
            <button class="btn btn-outline-light w-100 mt-2" id="addtocart">Add to Cart</button>
        </div>
        <div class="item-card">
            <img src="/images/jersey.jpg" alt="Manchester United Jersey 3" class="product-image">
            <h2 class="text-white">Jersey</h2>
            <p class="text-white">€60.00</p>
            <button class="btn btn-outline-light w-100 mt-2" id="addtocart">Add to Cart</button>
        </div>
</main>
<script src="/js/shop.js"></script>
